


#box1
{
background-color:#FAEBD7;
width:1300px;
padding-top:20px;
padding-left:20px;
padding-bottom:20px;
margin-left:30px;
margin-top:30px;
border-radius:5px;
}


.label2
{
margin-top:-63px;
margin-left:200px;
}
#s1
{
background-color:red;
color:white;
padding:7px;
border-radius:5px;
border-color:red;
}

.label3
{
margin-top:-63px;
margin-left:400px;
}
.label4
{
margin-top:-63px;
margin-left:580px;
}
#s2
{
background-color:blue;
color:white;
padding:7px;
border-radius:5px;
border-color:blue;
}
#box2
{
background-color:white;
margin-left:30px;
margin-right:30px;
padding-left:100px;
padding-right:100px;
border-radius:10px;
}